@import './variables';

.card-container {
	margin: 43px 0 50px;
	padding: 50px;
	border-radius: 25px;
	background-color: $grey-color;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 60px;
		list-style-type: none;

		li {
			position: relative;

			img {
				width: 340px;
				height: 340px;
				object-fit: cover;
				border-radius: 10px;
			}

			p {
				width: 240px;
				color: white;
				position: absolute;
				left: 20px;
				bottom: 20px;
			}
		}
	}
}
