@import './variables';

.collapse-container {
	max-width: 1023px;
	margin: 38px auto 103px;
	display: flex;
	flex-direction: column;
	gap: 30px;

	.collapse-content {
		.collapse-title {
			position: relative;
			z-index: 10;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 20px;
			border-radius: 5px;
			background-color: $primary-color;
			color: white;

			button {
				display: inline-flex;
				border: none;
				background: transparent;
				cursor: pointer;

				.arrow {
					transition: transform 0.2s ease;
				}
			}
		}

		.collapse-details {
			margin-top: -5px;
			max-height: 0px;
			overflow: hidden;
			transition: max-height 0.2s ease-in-out;

			.collapse-text {
				padding: 20px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				background-color: $grey-color;
				font-weight: 200;
				line-height: 120%;
			}
		}

		&.open {
			.arrow {
				transform: rotate(-180deg);
			}
			.collapse-details {
				max-height: 300px;
			}
		}
	}
}

.collapse-container-2 {
	flex-direction: row;
	min-width: 100%;
	gap: 75px;
	margin-bottom: 66px;

	.collapse-content {
		width: 50%;

		h2 {
			font-size: 18px;
			font-weight: bold;
		}

		.collapse-text li {
			list-style-type: none;
			line-height: 140%;
		}
	}
}

@media (max-width: 800px) {
	.collapse-container-2 {
		flex-direction: column;
		gap: 20px;
		margin-bottom: 27px;

		.collapse-content {
			width: 100%;
		}
	}
}

@media (max-width: 600px) {
	
	.collapse-container {
		margin-bottom: 166px;
	}
	.collapse-container-2 {
		margin-bottom: 27px;
	}
}