@import './variables';

footer {
	height: 210px;
	margin: 50px -100px 0;
	text-align: center;
	background-color: black;
	color: white;

	img {
		margin-top: 66px;
	}

	p {
		font-size: $medium-font-size;
		margin: 28px 0 0 0;
	}
}
