@import './variables';

footer {
	height: 210px;
	margin: 60px -100px 0;
	text-align: center;
	background-color: black;
	color: white;

	img {
		padding-top: 66px;
	}

	p {
		font-size: $medium-font-size;
		padding-top: 28px;
	}
}

@media (max-width: 800px) {
	footer {
		margin: 30px -20px 0;

		p {
			font-size: $small-font-size;
		}
	}
}
