@import './variables';

footer {
	height: 210px;
	margin: 0 -100px 0;
	text-align: center;
	background-color: black;
	color: white;

	img {
		padding-top: 66px;
	}

	p {
		font-size: $medium-font-size;
		padding-top: 28px;
	}
}
