@import './variables';

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 45px;

	nav {
		display: flex;
		gap: 57px;

		a {
			text-decoration: none;
			font-size: $medium-font-size;
			font-weight: 500;
			color: black;
			
		&:hover	{
			text-decoration: underline;
		}
		}
	}
}
