@import './variables';

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 45px;

	nav {
		display: flex;
		gap: 57px;

		a {
			text-decoration: none;
			font-size: $medium-font-size;
			font-weight: 500;
			color: black;

			&.active {
				text-decoration: underline;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media (max-width: 800px) {
	header {
		nav {
			gap: 30px;

			a {
				font-size: $base-font-size !important;
			}
		}
		img {
			width: 145px;
		}
	}
}
