// Variables de couleurs
$primary-color: #ff6060;

// Variables de tailles
$base-font-size: 18px;
$medium-font-size: 24px;
$title-font-size: 48px;

// Variables de textes
$primary-font: 'Montserrat', sans-serif;
