@import './variables';
@import './reset';
@import './header';
@import './footer';
@import './homePage';
@import './aboutUs';
@import './errorPage';


body {
    margin: 0 100px;
    font-family: $primary-font;
    font-size: $base-font-size;
}